
@{
    ViewBag.Title = "Logout";
    bool a = ViewBag.Status;
}

@{ 
    if(a)
    {
        <p>Đăng xuất thành công</p>
    }
    else
    {
        <p>Bạn chưa đăng nhập</p>
    }
    <a href="/Home/Index">Go to Home</a>
}

